<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    系统错误，请联系管理员
    <% if(flash.error) { %>
		<%= inspect(flash.error) %>
	<% } %>
  </body>
</html>