<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(flash.success) { %>
		<%= flash.success %>
	<% } %>
    <% if(flash.error) { %>
		<%= flash.error %>
	<% } %>
  </body>
</html>