<!DOCTYPE html>
<html>
  <head>
    <!-- Ensure we're using UTF-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/javascripts/ext-4.1.1a/resources/css/ext-all.css">
    <script type="text/javascript" src="/javascripts/ext-4.1.1a/ext-all-dev.js"></script>
    <!-- Include the translations -->
    <script type="text/javascript" src="/javascripts/ext-4.1.1a/locale/ext-lang-zh_CN.js"></script>
    <script type="text/javascript">
        var opFailure = '操作失败';
    
        Ext.onReady(function(){
            var store = Ext.create('Ext.data.Store', {
                autoLoad: true,
                fields: ['id', 'name'],
                pageSize: 3, // items per page
                proxy: {
                    type: 'ajax',
                    url: '/management/surveys',  // url that will load data with respect to start and limit params
                    reader: {
                        type: 'json',
                        root: 'rows',
                        totalProperty: 'total'
                    }
                }
            });
        
            Ext.create('Ext.panel.Panel', {
                width: '100%',
                height: 400,
                renderTo: Ext.getBody(),
                layout: {
                    type: 'vbox',       // Arrange child items vertically
                    align: 'stretch',    // Each takes up full width
                    padding: 5
                },
                items: [{                    // Details Panel specified as a config object (no xtype defaults to 'panel').
                    title: '问卷管理系统',
                    bodyPadding: 5,
                    items: [{
                        itemId: 'surveyName',
                        fieldLabel: '问卷名称',
                        xtype: 'textfield'
                    },{
                        text: '测试',
                        xtype: 'button',
                        handler: function() {
                            Ext.Ajax.request({
                                url: '/management/test',
                                method: 'GET',
                                params: {
                                    id: 1
                                },
                                success: function(response){
                                    var text = response.responseText;
                                    alert(text);
                                }
                            });
                        }
                    },{
                        text: '查询',
                        xtype: 'button',
                        handler: function() {
                            store.reload({
                                params: {
                                    surveyName: this.up().getComponent('surveyName').getValue()
                                }
                            });
                        }
                    }], // An array of form fields
                    flex: 1             // Use 1/4 of Container's height (hint to Box layout)
                },{
                    xtype: 'splitter'   // A splitter between the two child items
                },{               // Results grid specified as a config object with an xtype of 'grid'
                    xtype: 'grid',
                    itemId: 'surveyGrid',
                    columns: [{text: '编号',  dataIndex: 'id'},{text: '名称',  dataIndex: 'name'}],
                    store: store, // A dummy empty data store
                    dockedItems: [{
                        xtype: 'toolbar',
                        dock: 'top',
                        items: [{
                            text: '新增',
                            handler: function() {
                                Ext.Msg.prompt('新增', '请输入问卷名称', function(btn, text) {
                                    if (btn == 'ok' && text){
                                        Ext.Ajax.request({
                                            url: '/management/createSurvey',
                                            params: {name: text},
                                            success: function(response, opts) {
                                                var result = Ext.decode(response.responseText);
                                                if(result.success) {
                                                    store.reload();
                                                } else {
                                                    Ext.Msg.alert(opFailure, Ext.encode(result.error));
                                                }
                                            },
                                            failure: function(response, opts) {
                                                Ext.Msg.alert(opFailure, response.responseText);
                                            }
                                        });
                                    }
                                });
                            }
                        },{
                            text: '修改',
                            handler: function() {
                                var grid = this.up().up();
                                if(grid.getSelectionModel().hasSelection()) {
                                    Ext.Msg.alert('', grid.getSelectionModel().getSelection()[0].get('id'));
                                }
                                
                            }
                        },{
                            text: '删除',
                            handler: function() {
                                var grid = this.up().up();
                                if(!grid.getSelectionModel().hasSelection()) {
                                    Ext.Msg.alert('删除', '请选择要删除的问卷');
                                    return;
                                }
                            
                                Ext.MessageBox.confirm('删除', '删除问卷会同时删除统计结果，确认要继续么？', function(btn) {
                                    if (btn == 'yes') {
                                        var myMask = new Ext.LoadMask(Ext.getBody(), {msg:"请稍候..."});
                                        myMask.show();
                                    
                                        Ext.Ajax.request({
                                            url: '/management/deleteSurvey',
                                            params: {id: grid.getSelectionModel().getSelection()[0].get('id')},
                                            success: function(response, opts) {
                                                var result = Ext.decode(response.responseText);
                                                if(result.success) {
                                                    store.reload();
                                                } else {
                                                    Ext.Msg.alert(opFailure, Ext.encode(result.error));
                                                }
                                                myMask.hide();
                                            },
                                            failure: function(response, opts) {
                                                Ext.Msg.alert(opFailure, response.responseText);
                                                myMask.hide();
                                            }
                                        });
                                    }
                                });
                            }
                        }]
                    },{
                        xtype: 'pagingtoolbar',
                        store: store,   // same store GridPanel is using
                        dock: 'bottom',
                        displayInfo: true
                    }],
                    flex: 3                                       // Use 3/4 of Container's height (hint to Box layout)
                }]
            });
        });
    </script>
  </head>
  <body>
    <div align="right">
        <a href="/management/login">重新登录</a>
    </div>
  </body>
</html>