<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <% if(flash.error) { %>
            <%= flash.error %>
        <% } %>
    </div>
  </body>
</html>